common --enable_platform_specific_config

build --incompatible_disallow_empty_glob=true
build --nolegacy_external_runfiles
build --incompatible_default_to_explicit_init_py
build --incompatible_autoload_externally=
build --sandbox_default_allow_network=false

# Demonstrates how a downstream consumer wires the rules_vsg aspect.
build:vsg --aspects=@rules_vsg//vsg:vsg_aspect.bzl%vsg_aspect
build:vsg --output_groups=+vsg_checks

try-import %workspace%/user.bazelrc
